{% comment %} <!DOCTYPE html>

{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Document</title>
</head>
{% include 'navbar.html' %}
{% include 'scrollTop.html' %}
<body>
    <h1>Welcome</h1>
    <table class="table table-dark table-hover sortable">
        <thead>
            <tr>
              <th scope="col">Sr No</th>
              <th scope="col">Group</th>
              <th scope="col">IP Address</th>
              <th scope="col">Site</th>
              <th scope="col">Dept</th>
              <th scope="col">UserName</th>
              <th scope="col">MAC Address</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            {% for ip in iplists %}
            <tr>
              <td>{{ip.id}}</td>
              <td>{{ip.group}}</td>
              <td>{{ip.ip_address}}</td>
              <td>{{ip.site}}</td>
              <td>{{ip.dept}}</td>
              <td>{{ip.user_name}}</td>
              <td>{{ip.mac_address}}</td>
              <td><a class="btn btn-info" href="update/{{ ip.id }}">Update</a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    <div>
      {{ip.ip_address}}
      {{ip.site}}
      {{ip.dept}}
      {{ip.user_name}}
      {{ip.mac_address}}
    </div>
</body>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</html> {% endcomment %}
<h1>Chatbot</h1>

<form method=”POST”>
{% csrf_token %}
<label>Enter your message:</label>
<input type=”text” name=”user_input” />
<button type=”submit”>Send</button>
</form>

{% if response %}
<h2>Chatbot response:</h2>
<p>{{ response }}</p>
{% endif %}